<!DOCTYPE html>
<html>
<head>
    <title>CommandCenter Alert</title>
	<link href="/stylesheets/style.css" rel="stylesheet">
</head>
 <% if(data.length){ 
         var JSONData= JSON.parse(data[0].json_data);
        
         if (JSONData.color.toLowerCase() == "red"){%>
            <body id="body_red_alert">
        <%}else if (JSONData.color.toLowerCase()  == "yellow"){%>
            <body id="body_yellow_alert">
         <%}else {%>
            <body id="body_green_alert">
       <%}%>


    <div id="wrapper">
    <div class="page-container">
        <div class="Table">
            <div class="Row">
                <div class="Cell">
                    <h1>Build Timestamp:   </h1>
                </div>
                <div class="Cell">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=JSONData.build_timestamp.trim()%></h2>
                </div>
            </div>
            <div class="Row">
                <div class="Cell">
                    <h1>Project Name   :   </h1>
                </div>
                <div class="Cell">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=JSONData.project_name.trim()%></h2>
                </div>
            </div>
            <div class="Row">
                <div class="Cell">
                    <h1>Environment    :   </h1>
                </div>
                <div class="Cell">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=JSONData.environment.trim()%></h2>
                </div>
            </div>
            <div class="Row">
                <div class="Cell">
                    <h1>Errors         :   </h1>
                </div>
                <div class="Cell">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=JSONData.errors.trim()%></h2>
                </div>
            </div>
            <div class="Row">
                <div class="Cell">
                    <h1>Breakers       :   </h1>
                </div>
                <div class="Cell">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=JSONData.breakers.trim()%></h2>
                </div>
            </div>
        </div>

        
        
        
        
        
<%}else{%>
   
 <body>
<%}%>           
    </div>
    </div>
</body>
</html>
