<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
    <body>
        <h1>Channels</h1>
        <ul>
            <% for(var i = 0; i < channels.length; i++) { %>
            <li>
                <a href="/channel/<%= channels[i].code %>"><%= channels[i].code %></a>
            </li>
            <% } %>
        </ul>
    </body>
</html>
