extends ../layout

block extraHeader
  script(src="/javascripts/iframe.js")
  script.
    currentView = !{JSON.stringify(view)}
  script(src="/javascripts/rotate.js")
  
block content
  iframe(id='frameContent', width='100%', height='768px', scrolling='no', frameborder='no', src= view.url)