<!DOCTYPE html>
</html>
    <head>
        <title>CommandCenter</title>
	   <link href="/stylesheets/style.css" rel="stylesheet">
       <script type="text/javascript" src="/javascripts/all.js"></script>
       <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><table width="100%"><tr>
                                                <td width="7%"><a href="/"><img src="/images/cc_logo.png"></a></td>
                                                <td align="Left" ><h2><%=page_title%></h2></td>
                                            </tr></table></div>
            <div class="page-container">
