<!DOCTYPE html>
</html>
    <head>
        <title>CommandCenter</title>
	   <link href="/stylesheets/style.css" rel="stylesheet">
       <script type="text/javascript" src="/javascripts/all.js"></script>
       <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
     </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><table width="100%"><tr>
                                                <td ><img src="/images/cc_logo.png">&nbsp;&nbsp;&nbsp;<font size="4"><%=page_title%></font></td>
                                                <td align="Right"><a href="/"><font size="1">Return to Home Base</font></a></td>
                                            </tr></table></div>
            <div class="page-container">
